@using System.Web.Optimization
@using IC.UI.Helpers
@model IC.UI.Models.MessageViewModel

@{
    ViewBag.Title = "Detail";
}
@if (AuthHelper.GetUser(Context).Email == Model.To)
{
    <div class="form-group">
        <a class="btn btn-success" href="@Url.Action("Reply", "Message", new { id = Model.MessageId })" role="button">Reply</a>
    </div>
}
<section id="detail-form">
    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.From)
            @Html.LabelFor(x => x.From, Model.From)
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.To)
            @Html.LabelFor(x => x.To, Model.To)
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.DispatchDate)
            @Html.LabelFor(x => x.DispatchDate, Model.DispatchDate.ToString())
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.Subject)
            @Html.LabelFor(x => x.Subject, Model.Subject)
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.Context)
            @Html.LabelFor(x => x.Context, Model.Context)
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




