@using System.Web.Optimization
@using IC.UI.Helpers
@model IC.UI.Models.UserViewModel

@{
    ViewBag.Title = "Edit User";
}

<section id="detail-form">
    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="form-group">
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.UserId)
        <div class="form-group">
            <div>
                @Html.LabelFor(x => x.Email)
                @Html.LabelFor(x => x.Email, Model.Email)
            </div>
        </div>

        <div class="form-group">
            <div>
                @Html.LabelFor(x => x.FirstName)
                @Html.LabelFor(x => x.FirstName, Model.FirstName)
            </div>
        </div>

        <div class="form-group">
            <div>
                @Html.LabelFor(x => x.SecondName)
                @Html.LabelFor(x => x.SecondName, Model.SecondName)
            </div>
        </div>

        <div class="form-group">
            <div>
                @Html.LabelFor(x => x.IsAdmin)
                @Html.CheckBoxFor(model => model.IsAdmin)
            </div>
            <div>
                @Html.LabelFor(x => x.IsUser)
                @Html.CheckBoxFor(model => model.IsUser)
            </div>
        </div>

        <div class="form-group text-right">
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




